@font-face {
  font-family: 'Calibre';
  src: local('CalibreRegular') url('./assets/fonts/CalibreRegular.woff') format('woff');
}

@font-face {
  font-family: 'Calibre';
  src: local('CalibreBold') url('./assets/fonts/CalibreBold.woff') format('woff');
  font-weight: bold;
}

:root {
  --main-brand-color: #ACB5B6;
  --light-shade: #FAF9F9;
  --light-accent: #B39662;
  --dark-shade: #4A4B4F;
  --dark-accent: #BB7B4E;
  --super-dark--shade: #373737;
  --site-font: 'Calibre';
}

html, body {
  margin: 0;
  font-family: var(--site-font);
}