.option {
  padding: var(--content-padding);
  transition: background-color 100ms ease-in-out,
              border-right 100ms ease-in-out;
  --subtitle: 20px;
}

.option--active {
  border-right: 4px solid var(--dark-neon);
}

.option:hover {
  cursor: pointer;
  background-color: var(--dark-neon-bg);
}

.option > h1 {
  font-size: var(--subtitle);
}

.option__text--secondary {
  font-size: var(--lead-in);
  opacity: 0.6;
}

@media only screen and (max-width: 750px) {
  .option {
    --subtitle: 16px;
  }
}