#landing {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 2fr 4fr 2fr;
  color: var(--black);

  --hero-width: 580px;
  --title: 40px;
}

.landing__hero {
  grid-column: 2;
  grid-row: 2;
  max-width: var(--hero-width);
}

.landing__lead-in {
  font-family: var(--site-font);
  font-size: var(--lead-in);
  margin: 0;
}

.landing__title {
  font-size: var(--title);
  margin: 0;
}

.landing__subtitle {
  font-size: var(--subtitle);
  color: var(--olive);
  margin: 0;
}

.landing__desc {
  font-size: var(--body);
  line-height: 19px;
  display: block;
  margin: 32px 0;
}

@media only screen and (max-width: 750px) {
  #landing {  
    --title: 24px;
    --subtitle: 18px;
    --hero-width: 100%;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 4fr 2fr;
  }
}