.btn {
  --content-padding: 8px 16px;
  --font-size: 16px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--content-padding);
  color: var(--dark-neon);
  border: 1px solid var(--dark-neon);
  border-radius: 6px;
  transition: background-color 100ms ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--dark-neon-bg);
}

.btn__text {
  display: block;
  font-size: var(--font-size);
  line-height: var(--font-size);
  margin: 0;
}