
html, body {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  display: block;
  background-color: #F0F0F0;
  font-family: 'Open Sans', sans-serif;
  color: #191716;
}

h1, h2, h3, h4, h5, .lead {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

.gray {
  color: #8C8B8A;
}

#site-logo {
  height: 64px;
  margin: 32px 0;
}

.hero {
  padding-top: 64px;
  padding-bottom: 64px;
}

.hero-img {
  max-width: 100%;
  height: auto;
}

.hero-col-text {
  background: #FFFFFF;
  padding: 64px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

footer {
  font-size: 8.1pt;
  padding: 32pt;
}
