.option {
  padding: var(--content-padding);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: background-color 100ms ease-in-out,
              border 100ms ease-in-out;
}

.option--active {
  border-right: 4px solid var(--dark-neon);
}

.option:hover {
  cursor: pointer;
  background-color: var(--dark-neon-bg);
}

.option > h1 {
  font-size: var(--body);
}

.option__text--secondary {
  font-size: var(--body);
  line-height: var(--body-spacing);
  opacity: 0.6;
}

.option__company-link {
  color: var(--dark-neon);
}

.option__company-link:hover {
  color: var(--pale);
}


@media only screen and (max-width: 750px) {
  .option {
    align-items: flex-start;
    --subtitle: 16px;
  }

  .option--active {
    border-right: none;
    border-left: 4px solid var(--dark-neon);
  }
}