#landing--music {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.music-landing__title {
  max-width: 50vw;
}

.music-landing__desc-item {
  margin-bottom: 16px;
}

@media only screen and (max-width: 750px) {
  .music-landing__title {
    max-width: unset;
  }  
}