/* 
 * Variable Declarations and Font Imports
 */

@font-face {
  font-family: "Calibre";
  src: url("assets/fonts/CalibreRegular.woff") format('woff');
}

@font-face {
  font-family: "Calibre";
  font-weight: bold;
  src: url("assets/fonts/CalibreBold.woff") format('woff');
}

:root {
  --main-brand-color: #ACB5B6;
  --light-shade: #FAF9F9;
  --light-accent: #B39662;
  --dark-shade: #4A4B4F;
  --dark-accent: #BB7B4E;
  --super-dark--shade: #373737;
}

/* 
 * Site-wide Component Styling
 */

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-shade);
  color: var(--light-shade);
  font-family: 'Calibre';
  line-height: 1.2;
  font-size: 14px;
}

.color--main-brand-color {
  color: var(--main-brand-color);
}

.color--light-shade {
  color: var(--light-shade);
}

.color--light-accent {
  color: var(--light-accent);
}

.color--dark-shade {
  color: var(--dark-shade);
}

.color--dark-accent {
  color: var(--dark-accent);
}

.color--super-dark--shade {
  color: var(--super-dark--shade);
}

.lead {
  font-size: 16px;
  margin: 0;
}

.uber--super {
  font-size: 56px;
  margin: 0;
}

.h1--super {
  font-size: 52px;
  margin: 0;
}

.btn {
  background: none;
  padding: 8px 16px;
  border: 1px solid var(--light-shade);
  color: var(--light-shade);
  transition: background-color 200ms ease-in-out, border 200ms ease-in-out, transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--dark-accent);
  border: 1px solid var(--dark-accent);
  transform: translateY(-2px);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.5);
}

#site {
  width: 100%;
  height: 100vh;
  padding: 32px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  transition: padding 200ms ease-in-out;
}

.site-logo {
  width: 64px;
  height: 52px;
}

.site-logo .site-logo__layers > .site-logo__base-fill {
  transition: all 200ms ease-in-out;
}

.site-logo:hover {
  cursor: pointer;
}

.site-logo:hover .site-logo__layers > .site-logo__base-fill {
  transform: translateY(6px);
  fill: var(--dark-accent);
}

/* 
 * Page-level Component Styling
 * Page: index.html
 */

.content {
  flex: 1;
  padding: 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__site-info {
  padding-bottom: 64px;
}

/* 
 * Media Queries for Different Screen Sizes
 */