html, body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;

  background: #FAFFFD;
}

a {
  text-decoration: none;
  color: #3D5467;

  transition: 250ms ease-in-out;
}

a:hover {
  color: #FAFFFD;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('./../src/img/biz.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  opacity: 0;
  transition: 1000ms ease-in-out;
}

.main-content {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hero {
  align-self: flex-start;
  width: 40%;
  padding: 32pt;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

h1 {
  color: #FAFFFD;
  font-family: 'TimesNewRoman';
  font-weight: normal;
  font-size: 400%;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  transform: translateY(15vh);
  opacity: 0;
  transition: 500ms ease;
}

h3 {
  font-family: 'Avenir';
  color: #FAFFFD;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  transform: translateY(15vh);
  opacity: 0;
  transition: 500ms ease;
}

p {
  font-family: 'Avenir';
  color: #FAFFFD;
  font-weight: normal;

  transform: translateY(15vh);
  opacity: 0;
  transition: 500ms ease;
}

.button-list {
  width: 40%;

  transform: translateY(15vh);
  opacity: 0;
  transition: 500ms ease;
}

.hero-button {
  width: 100%;
  border: none;
  padding: 8pt 16pt;
  border-radius: 4pt;
  background: transparent;
  border: 1px solid #FAFFFD;
  color: #FAFFFD;
  font-family: 'Avenir';
  font-weight: bold;
  font-size: 80%;
  text-transform: uppercase;
  margin-top: 8pt;

  transition: 250ms ease-in-out;
}

.hero-button:hover {
  cursor: pointer;
  background: #FAFFFD;
  border: 1px solid #FAFFFD;
  color: #3D3B3C;
}


@media only screen and (max-width: 768px) {
  .hero {
    width: calc(100% - 64pt);
    height: 100%;
    justify-content: center;
  }

  .button-list {
    width: 75%;
  }
}

.fade-in {
  opacity: 1;
}

.slide-in {
  transform: translateY(0);
}

.slide-out {
  transform: translateY(-15vh);
}
