.home-page__card {
  display: grid;
  grid-template-columns: 6fr 1fr 4fr 1fr;
  margin: var(--content-padding);
}

.home-page__card > .card__child--whole-width {
  grid-column: 1;
}

.home-page__card > .card__child--content-padding {
  grid-column: 3;
}

.home-page__card--reversed {
  grid-template-columns: 1fr 4fr 1fr 6fr;
}

.home-page__card--reversed > .card__child--whole-width {
  grid-column: 4;
}

.home-page__card--reversed > .card__child--content-padding {
  grid-column: 2;
}

@media only screen and (max-width: 750px) {
  .home-page__card,
  .home-page__card--reversed {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr 6fr;
  }

  .home-page__card > .card__child--content-padding {
    grid-column: 1;
  }

  .home-page__card > .card__child--whole-width {
    grid-column: 1;
  }

  .home-page__card--reversed > .card__child--content-padding {
    grid-column: 1;
  }

  .home-page__card--reversed > .card__child--whole-width {
    grid-column: 1;
  }

  .home-page__card > .card__child--whole-width {
    grid-row: 4;
  }

  .home-page__card--reversed > .card__child--whole-width {
    grid-row: 4;
  }

  .home-page__card > .card__child--content-padding {
    grid-row: 2;
  }

  .home-page__card--reversed > .card__child--content-padding {
    grid-row: 2;
  }
}