.project__image {
  position: relative;
  padding-top: 80%;
}

.project__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 64px var(--content-padding);
}

.project__title {
  font-size: var(--subtitle);
}

.project__desc {
  font-size: var(--lead-in);
  opacity: 0.6;
}