html, body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;

  background: #FAFFFD;
}

.main-content {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hero {
  align-self: flex-start;
  width: 40%;
  padding: 32pt;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

h1 {
  color: #3D3B3C;
  font-family: 'TimesNewRoman';
  font-weight: normal;
  font-size: 400%;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  transform: translateY(15vh);
  opacity: 0;
  transition: 500ms ease;
}

h3 {
  font-family: 'Avenir';
  color: #3D3B3C;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  transform: translateY(15vh);
  opacity: 0;
  transition: 500ms ease;
}

p {
  font-family: 'Avenir';
  color: #3D3B3C;
  font-weight: normal;

  transform: translateY(15vh);
  opacity: 0;
  transition: 500ms ease;
}

.button-list {
  width: 40%;

  transform: translateY(15vh);
  opacity: 0;
  transition: 500ms ease;
}

.hero-button {
  width: 100%;
  border: none;
  padding: 8pt 16pt;
  border-radius: 4pt;
  background: transparent;
  border: 1px solid #3D3B3C;
  color: #3D3B3C;
  font-family: 'Avenir';
  font-weight: bold;
  font-size: 80%;
  text-transform: uppercase;
  margin-top: 8pt;

  transition: 250ms ease-in-out;
}

.hero-button:hover {
  cursor: pointer;
  background: #3D3B3C;
  border: 1px solid #3D3B3C;
  color: #FAFFFD;
}


.fade-in {
  opacity: 1;
}

.slide-in {
  transform: translateY(0);
}

.slide-out {
  transform: translateY(-15vh);
}
