#loader {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  color: var(--black);

  transition: opacity 100ms ease-in-out;
  transition-delay: 500ms;
}

.loader__fill {
  z-index: 101;
  position: fixed;
  top: 100vh;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--dark-neon);

  transition: top 500ms ease-in-out;
}

.loader__logo {
  z-index: 102;
  fill: var(--black);
  height: 64px;
  width: 64px;
}

#loader.loader--active {
  opacity: 0;
}

#loader.loader--active > .loader__fill {
  top: 0vh;
}