.site-logo {
  width: 64px;
  height: 52px;
}

.site-logo .site-logo__layers > .site-logo__base-fill {
  transition: all 200ms ease-in-out;
}

.site-logo:hover {
  cursor: pointer;
}

.site-logo:hover .site-logo__layers > .site-logo__base-fill {
  transform: translateY(6px);
  fill: var(--dark-accent);
}