#footer {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--content-padding);
  margin-top: 128px;
}

.footer__copy {
  font-size: 10px;
  opacity: 0.6;
}