.option {
  padding: var(--content-padding);
  transition: background-color 100ms ease-in-out,
              color 100ms ease-in-out;
  --subtitle: 30px;
}

.option--active {
  background-color: var(--dark-neon);
  color: var(--white);
}

.option:hover {
  cursor: pointer;
  background-color: var(--dark-neon-bg);
  color: var(--black);
}

.option > h1 {
  font-size: var(--subtitle);
  margin: 0
}

.option__text--secondary {
  font-size: var(--lead-in);
  opacity: 0.6;
}

@media only screen and (max-width: 750px) {
  .option {
    --subtitle: 20px;
  }
}