@font-face {
  font-family: 'CircularStd';
  src: url(./assets/fonts/CircularStd-Book.woff);
}

@font-face {
  font-family: 'CircularStd-Bold';
  src: url(./assets/fonts/CircularStd-Bold.woff);
}

:root {
  --white: #FFFFFF;
  --light: #FFFCF2;
  --black: #252422;
  --pale: #CCC5B9;
  --olive: #403D39;
  --cardstock: #F7F8F7;
  --dark-neon: #7C9072;
  --dark-neon-bg: rgba(124, 144, 114, 0.2);
  --site-font: 'CircularStd';
  --bold-font: 'CircularStd-Bold';
  --shadow: 0px 2px 4px 0px rgba(37, 36, 34, .10);
  --shadow-full: 0px 4px 16px 0px rgba(37, 36, 34, .30);
  --content-padding: 32px;
  --subtitle: 24px;
  --lead-in: 18px;
  --body: 14px;
  --body-spacing: 22px;
}

html, body {
  margin: 0;
  background-color: var(--white);
  font-family: var(--site-font);
  color: var(--dark-shade);
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: var(--bold-font);
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--dark-neon);
  transition: color 100ms ease-in-out;
}

a:hover {
  color: var(--olive);
}

.bg--image {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  object-fit: cover;
  object-position: center;
}

.above-bg {
  z-index: 1;
}

@media only screen and (max-width: 750px) {
  :root {
    --subtitle: 18px;
    --lead-in: 14px;
  }
}