
@font-face {
  font-family: 'Calibre';
  src: local('CalibreRegular') url('./assets/fonts/CalibreRegular.woff') format('woff');
}

@font-face {
  font-family: 'Calibre';
  src: local('CalibreBold') url('./assets/fonts/CalibreBold.woff') format('woff');
  font-weight: bold;
}

:root {
  --white: #FFFCF2;
  --black: #252422;
  --pale: #CCC5B9;
  --olive: #403D39;
  --neon: #D0F1BF;
  --neon-bg: rgba(208, 241, 191, 0.2);
  --dark-neon: #7C9072;
  --dark-neon-bg: rgba(124, 144, 114, 0.2);
  --site-font: 'Calibre';
}

html, body {
  margin: 0;
  background-color: var(--white);
  font-family: var(--site-font);
  color: var(--dark-shade);
}

* {
  box-sizing: border-box;
}