html, body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #EFE7DA;
}

#pong {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: none;
}

.page {
  padding: 64px 64px;
}

.desc {
  width: 35vw;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#logo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 32px;
  height: 32px;
  z-index: 0;
  opacity: 0.2;
  padding: 32px;
}

h1 {
  color: #2C2C34;
  font-family: 'Rozha One', serif;
  font-size: 320%;
  margin: 0;
  text-align: left;
}

p {
  color: #2C2C34;
  font-family: 'Playfair Display', serif;
  margin: 0;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .page {
    padding: 16px 32px;
  }

  .desc {
    width: 100%;
  }
}
