.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--light-shade);
  box-shadow: var(--box-shadow);
  z-index: 100;
  padding: 16px var(--content-padding);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  transition: background-color 300ms ease-in-out,
              box-shadow 300ms ease-in-out,
              padding 300ms ease-in-out;
}

.nav--transparent {
  background-color: transparent;
  box-shadow: none;
  padding: var(--vert-padding) var(--content-padding);
}

.site-logo {
  width: 32px;
  height: 32px;
  fill: var(--dark-shade);
  
  transition: fill 300ms ease-in-out;
}