.link-list__container {
  margin: 32px;
  max-width: 25vw;
}

.link-list__link {
  border: 2px solid var(--black);
  color: var(--black);
  border-radius: 4px;
  padding: 16px;
  display: flex;
  justify-content: center;
  transition: background-color 100ms ease-in-out,
              color 100ms ease-in-out;
}

.link-list__link:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--black);
}

.link-list__link:not(:first-child) {
  margin-top: 16px;
}


@media only screen and (max-width: 750px) {
  .link-list__container {
    max-width: unset;
  }
}